<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Flairs</h1>
      <a class="btn btn-primary" href="/flairs/new" role="button">New</a>

      <ul class="list-group">
<!-- #1 -->
        <% flairs.forEach((flair) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a style="color:<%= flair.color %>" href="/flairs/<%= flair.id %>"> <%= flair.name %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
